* {
  box-sizing: border-box;
  font-family: "Matrix", sans-serif;
}

body {
  align-items: center;
  background-position: bottom;
  background-size: cover;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  margin: 0px;
  text-align: center;
  width: 100%;
}

header h1 {
  margin-bottom: 0px;
  margin-top: 50px;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-height: 100%;
  width: 100%;
}

.grid-4x4 {
  border: 1px solid #000;
  margin: 10px 0;
}

.panel {
  border-radius: 5px;
  margin: 10px;
}

.grid-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  height: calc(25px * 20);
  justify-content: center;
  width: calc(25px * 10);
}

canvas {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.main,
.panel,
header,
main {
  position: relative;
  z-index: 2;
}

#right,
#left {
  padding: 20px;
}

.grid div,
.grid-4x4 div {
  background-color: #333;
  opacity: 0.8;
  border: 1px solid rgba(0, 255, 0, 0.4);
  height: 25px;
  width: 25px;
}

.grid-4x4 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 104px;
}

.stats {
  margin-top: 240px;
}
.game-info {
  margin-top: 250px;
}

.info-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.hold-piece,
.next-grid {
  font-size: 20px;
  text-align: center;
}

p {
  background-color: rgba(0, 0, 0, 0.8);
}

.grid div.tetrimino {
  background-color: #0f0;
  border-color: #0f0;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
}
